#FoundList p {
    font-size: 20px;
    margin-block-end: 0;
    margin-block-start: 0;
    background: white;
  }
  #FoundList ul {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  #FoundList li {
    font-size: 12px;
  }
  @media (min-width: 992px) {
    #FoundList li {
      font-size: 20px;
    }
  }
  #FoundList .big-box {
    max-height: 50vh;
    width: 95vw;
    border: 2px solid black;
    border-radius: 5px;
    margin: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 992px) {
    #FoundList .big-box {
      max-width: 45vw;
      height: 100%;
    }
  }
  #FoundList .big-box .big-list {
    margin-right: 50px;
    display: inline-block;
  }
  @media (min-width: 992px) {
    #FoundList .big-box .big-list {
      margin-right: 0;
    }
  }
  #FoundList .big-box .caret {
    align-self: flex-end;
    margin-right: 23px;
    margin-top: 1px;
  }
  #FoundList .big-box ul {
    margin: 5px 20px;
  }
  #FoundList .big-box .wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 45vh;
  }
  #FoundList .big-box li {
    list-style-type: disc;
    margin-left: 5px;
  }
  #FoundList .box {
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 12px 2px;
    width: 95vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #FoundList .box .list {
    margin-right: 50px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #FoundList .box ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-block-end: 0;
  }
  #FoundList .box li {
    margin-right: 1em;
  }
  #FoundList .box span {
    font-size: 20px;
    margin: 0 4px;
  }
  #FoundList .box .caret {
    width: 60px;
    height: 35px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 2px;
    background: white;
  }
  