#Hive {
  display: flex;
  flex-direction: column;
}
#Hive .hex-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: center;
}
#Hive .hex-row.even {
  margin-left: 0px;
}
@media (min-width: 340px) {
  #Hive .hex-row.even {
    margin-left: 0px;
  }
}
@media (min-width: 992px) {
  #Hive .hex-row.even {
    margin-left: 0px;
  }
}
